.idea/deployment.xml
.idea/gfc.iml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/workspace.xml
app/db.ini
app/keys.ini
app/email.ini
app/stripe.ini
.DS_Store
public/.DS_Store
public/assets/.DS_Store
public/.well-known/*
public/assets/.DS_Store
public/assets/.DS_Store
public/.DS_Store
